.vote {
  margin-bottom: 1rem;
}

.voteTitle {
  font-size: 80%;
}

.voteAvg {
  font-size: 2.8rem;
}

.voteCount {
  font-size: 2.4rem;
}

.voteAvg,
.voteCount {
  font-weight: var(--font-weight-semi-bold);
}
