@import '@/styles/abstracts/mixins.scss';

.container {
  // border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 1.2rem 0rem;
}

.comment {
  width: 100%;
  padding: 0rem 0rem 1rem;
}

.note {
  font-size: 70%;
  line-height: var(--line-height-heading);
  opacity: 0.5;
}

.title {
  text-transform: uppercase;
  // margin-bottom: 0.6rem;
  font-size: 1.7rem;
}

.reviewHeader {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.publicStatus {
  font-size: 2rem;
}

.date {
  font-size: 70%;
  opacity: 0.6;
  letter-spacing: 0.6px;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  justify-content: flex-end;
  margin-bottom: 1.6rem;
}

@include mq(pc) {
  .button {
    display: block;
    width: auto;
  }
  .btnWrapper {
    display: flex;
    justify-content: flex-end;
  }

  .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.6rem;
  }
}
