@import '@/styles/abstracts/mixins.scss';

.form {
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2.4rem 2.4rem 2.8rem;
}

.textarea {
  border: 1px solid;
  width: 100%;
  padding: 1rem 2rem;
  height: 12rem;
  border-radius: var(--border-radius);

  &::placeholder,
  &:-ms-input-placeholder {
    opacity: 0.4;
    color: red;
  }
}

.note {
  font-size: 70%;
  line-height: var(--line-height-heading);
  opacity: 0.5;
}

.title {
  text-transform: uppercase;
  margin-bottom: 0.6rem;
  font-size: 1.7rem;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

@include mq(tab) {
  .btns {
    flex-direction: row;
  }
}
