.fields {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
  border: 1px solid yellow;
}

.item {
  display: block;
  position: relative;
  padding-left: 3.8rem;
  cursor: pointer;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      background-color: var(--color-primary);

      &::after {
        display: block;
      }
    }
  }

  &:hover input ~ .checkmark {
    background-color: var(--color-grey-light-secondary);
  }
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.8rem;
  width: 2.8rem;
  background-color: #eee;
  border-radius: 50%;
  transition: var(--transition-default);

  &:after {
    content: '';
    position: absolute;
    display: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.label {
  &.checked {
    font-weight: var(--font-weight-bold);
  }
}
