@import '@/styles/abstracts/mixins.scss';

.genres {
  margin: 1rem 0 2rem;
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;

  &.inHome {
    gap: 1rem;
  }
}

.genre {
  color: var(--color-white);
  background-color: transparent;
  border: 2px solid var(--color-white);
  border-radius: var(--border-radius);
  padding: 0.4rem 1.2rem;
  cursor: pointer;
  transition: var(--transition-default);

  &:hover,
  &:active {
    background-color: var(--color-white);
    color: var(--color-black);
    border-color: transparent;
  }

  &.inHome {
    padding: 0.3rem 0.9rem;
    opacity: 0.8;
  }
}
