@import '@/styles/abstracts/mixins.scss';

.genres {
  margin: 1rem 0 2rem;
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
}

.genre {
  background-color: var(--color-yellow);
  color: var(--color-black);
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  padding: 0.4rem 1.2rem;
  cursor: pointer;
  transition: var(--transition-default);

  &:hover,
  &:active {
    border-color: var(--color-yellow);
    color: var(--color-yellow);
    background-color: transparent;
  }
}
