@import '@/styles/abstracts/_mixins.scss';

.footer {
  // border: 1px solid yellow;
  @include centerContent;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 6rem;
  padding-bottom: 3rem;
}

.socialLinks {
  @include centerContent;
  gap: var(--gap-lg);
  margin-bottom: 2rem;
  svg {
    opacity: 0.8;
  }
}

.copyright {
  color: var(--color-grey-light-secondary);
  font-size: 1.4rem;
}

.links {
  @include centerContent;
  gap: var(--gap);
  a {
    color: rgba(var(--color-white-rgb), 0.4);
    font-size: 1.4rem;
  }
}

@include mq(tab) {
  .socialLinks {
    font-size: 2.4rem;
  }
}
