@import '@/styles/abstracts/mixins.scss';

.container {
  width: 100%;
  margin: 0 auto;
}

.mainVisual {
  display: none;
}

.release {
  font-style: italic;
  letter-spacing: 0.6px;
  opacity: 0.5;
  margin: 0 0 1.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &::before {
    content: '';
    width: 2.4rem;
    height: 1px;
    background-color: var(--color-white);
    margin-right: 0.6rem;
  }
}

.mainVisualWrapper {
  position: relative;
}

.movieTitleInImage {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  font-size: 3.8rem;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-secondary);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  width: 60%;
  line-height: var(--line-height-heading);
}

.posterImageWrapper {
  width: 100%;
  height: 80vh;
  position: relative;
  margin-bottom: 2rem;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    @include blackGradientBgTopToBottom;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }
}

.posterImage {
  object-fit: cover;
}

.logoImage {
  // object-fit: contain;
  position: absolute;
  z-index: 1;
  bottom: 2rem;
  left: 2rem;
}

.title {
  font-size: 3.2rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-heading);
  margin: 0 0 1rem;
  &.tab {
    display: none;
  }
}

.subTitle {
  font-size: 2rem;
  font-weight: bold;
}

.youtubeOpenModalBtnWrapper {
  margin: 1.2rem 0;
}
// .content {
//   // border: 1px solid pink;
// }
.showYoutubeModalBtn {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 0.6rem;
  cursor: pointer;
  transition: var(--transition-default);

  svg {
    font-size: 3rem;
  }

  &:hover {
    color: var(--color-yellow);
  }
}

.overview {
  width: var(--width-mob);
  margin: 0 auto;
  max-width: 60rem;
  // border: 1px solid pink;
}

.right {
  width: var(--width-mob);
  margin: 0 auto;
  max-width: 60rem;
}

.comment {
  border: 1px solid;
}

@include mq(tab) {
  .content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    @include container;
    gap: 3rem;
  }

  .youtubeOpenModalBtnWrapper {
    margin: 2rem auto;
    font-size: 1.5rem;
  }

  .posterImageWrapper {
    display: block;
    width: 100%;
    height: 32rem;
    position: relative;
    margin: 0 auto 1rem;

    &::after {
      display: none;
    }
  }

  .posterImage {
    object-fit: contain;
  }

  .overview {
    width: 100%;
    max-width: none;
  }

  .title {
    &.mob {
      display: none;
    }
    &.tab {
      display: block;
      font-size: 2.8rem;
      margin-bottom: 2rem;
    }
  }

  .mainVisual {
    display: block;
    height: 80vh;
    position: relative;
    z-index: 0;
    margin-bottom: 4rem;

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      @include blackGradientBg;
      z-index: 1;
    }
  }
}

@include mq(spc) {
}

@include mq(pc) {
  .youtubeOpenModalBtnWrapper {
    margin: 2.6rem auto 2rem;
    display: flex;
    justify-content: center;
    max-width: 80%;
  }

  .posterImageWrapper {
    height: 40rem;
  }
}
