@import '@/styles/abstracts/mixins.scss';

.container {
  height: 100vh;
  width: 100%;
  margin-bottom: 2rem;
  min-height: 64.8rem;

  &.short {
    height: 40vh;
    min-height: 38rem;
  }
}

.title {
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
  font-size: 3.6rem;
  text-align: center;
  margin: 10rem auto 2rem;
}
.clearBtn {
  cursor: pointer;
  transition: var(--transition-default);

  &:hover {
    color: var(--color-yellow);
  }
}

.content {
  height: 100%;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;

  img {
    transition: var(--transition-default);
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.imageCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include blackGradientBgTopAndBottom;
  @include centerContent;
}

.searchForm {
  position: relative;
  width: 90%;
  margin: 0 auto;
  // text-align: center;
  @include centerContent;
  flex-direction: column;
}

.searchField {
  @include centerContent;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1rem;
}

.inputLabel {
  width: 100%;
  border: 2px solid var(--color-white);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1rem 2rem;

  svg {
    font-size: 2rem;
    flex: 0 0 2rem;
  }
}

.input {
  font-family: inherit;
  font-size: 1.8rem;
  letter-spacing: 0.6px;
  width: 100%;

  &::placeholder {
    opacity: 0.4;
  }
}

.button {
  padding: 0.8rem;
  width: 100%;
  text-align: center;
  border-radius: var(--border-radius);
  background-color: var(--color-yellow);
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-size: 1.5rem;
  transition: var(--transition-default);
  font-weight: var(--font-weight-semi-bold);

  &:hover,
  &:active {
    color: var(--color-black);
    background-color: var(--color-white);
  }
}

@include mq(tab) {
  .container {
    height: 40vh;
    min-height: 42rem;

    &.short {
      height: 40vh;
      min-height: 32rem;
    }
  }

  .searchForm {
    top: 3rem;
  }

  .genreContainer {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
  }

  .title {
    font-size: 4.2rem;
    margin: 0 auto 2rem;
  }

  .searchField {
    display: grid;
    width: 60rem;
    grid-template-columns: 3fr 1fr;
    margin: 0 auto 2rem;
  }

  // .inputLabel {
  //   // padding: 1rem 6rem 1rem 2rem;
  // }

  .button {
    padding: 1.2rem 2rem;
    height: 100%;
  }
}

@include mq(pc) {
  .container {
    height: 40vh;
    min-height: 46rem;
  }
  .title {
    font-size: 5.2rem;
    margin: 0 auto 2.4rem;
  }
}
