.theme {
  --color-black: #151a23;
  --color-grey-dark: #2d3748;
  --color-grey-medium: #8792ab;
  --color-grey-medium-secondary: #4c5b76;
  --color-grey-light: #dce1ea;
  --color-grey-light-secondary: #b4becf;
  --color-black-rgb: 21, 26, 35;
  --color-white: #fff;
  --color-white-rgb: 255, 255, 255;
  --color-primary: #ea0000;
  --color-secondary: #1f4bdd;
  --color-red: #de3b40;
  --color-yellow: #efb034;
  --color-green: #1dd75b;
  --color-blue: #379ae6;
  --black-gradient: linear-gradient(rgba(0, 0, 0, 0.3), transparent);
}
