@import '@/styles/abstracts/mixins.scss';

.image {
  display: block;
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid var(--color-white);
  transition: var(--transition-default);

  img {
    object-fit: cover;
  }

  &:hover,
  &.active {
    border-color: var(--color-yellow);
  }

  &.iconWrap {
    @include centerContent;
  }
}
