@import '@/styles/abstracts/mixins.scss';

.overview {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.btn {
  justify-content: flex-start !important;
}

.left {
  display: flex;
  justify-content: center;
}

.right {
  @include centerContent;
  flex-direction: column;
  gap: 1.6rem;
}

.name {
  font-size: 2rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  word-break: break-word;
}

.bio {
  word-break: break-word;
}

// @include mq(tab) {
//   .overview {
//     border: 1px solid;
//     flex-direction: row;
//     justify-content: center;
//     align-items: flex-start;
//     gap: 3rem;
//   }

//   .right {
//     gap: 0.4rem;
//     text-align: left;
//     align-items: flex-start;
//   }
// }
