@import '@/styles/abstracts/mixins.scss';

.hero {
  height: 46vh;
  width: 100%;
  margin-bottom: 2rem;
}

.content {
  height: 100%;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;

  img {
    transition: var(--transition-default);
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.imageCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include blackGradientBgTopAndBottom;
  @include centerContent;
}

.searchForm {
  position: relative;
  width: 90%;
}

.searchField {
  @include centerContent;
  flex-direction: column;
  gap: 0.8rem;
}

.inputLabel {
  width: 100%;
  border: 2px solid var(--color-white);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1rem 2rem;

  svg {
    font-size: 2rem;
    flex: 0 0 2rem;
  }
}

.input {
  font-family: inherit;
  font-size: 1.8rem;
  letter-spacing: 0.6px;
  width: 100%;

  &::placeholder {
    opacity: 0.4;
  }
}

.errorMsg {
  width: 100%;
  font-size: 80%;
  opacity: 0.8;
  padding: 1rem;
}

.button {
  padding: 0.8rem;
  width: 100%;
  text-align: center;
  border-radius: var(--border-radius);
  background-color: var(--color-yellow);
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-size: 1.5rem;
  transition: var(--transition-default);

  &:hover,
  &:active {
    color: var(--color-black);
    background-color: var(--color-white);
  }
}

@include mq(tab) {
  .searchForm {
    width: 60rem;
  }
  .searchField {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  // .inputLabel {
  //   // padding: 1rem 6rem 1rem 2rem;
  // }

  .button {
    padding: 1.2rem 2rem;
    height: 100%;
  }
}

@include mq(pc) {
  .hero {
    height: 60vh;
  }
}
