@import '@/styles/abstracts/mixins.scss';

.hero {
  height: 46vh;
  width: 100%;
  margin-bottom: 2rem;
}

.content {
  height: 100%;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;

  img {
    transition: var(--transition-default);
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.imageCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include blackGradientBgTopAndBottom;
}

.movieOverview {
  position: absolute;
  z-index: 1;
  bottom: 1rem;
  right: 2rem;
  // border: 1px solid;
}

.title {
  font-size: 80%;
  opacity: 0.9;
}

.mainTitle {
  font-weight: var(--font-weight-semi-bold);
}

.year {
  font-size: 70%;
  margin-left: 0.4rem;
}

@include mq(pc) {
  .hero {
    height: 60vh;
  }
}
