@import '@/styles/abstracts/_mixins.scss';

.header {
  padding: 0.8rem 0;
  z-index: 1;

  &.fixed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-lg);
  position: relative;

  @include container;
}

.mobMenu {
  position: absolute;
  left: 0;
  top: 0.4rem;
  svg {
    width: 3rem;
    height: 3rem;
  }
}

.logo {
  position: relative;
  width: 10rem;
  height: 4rem;
  transition: var(--transition-default);

  &:hover {
    opacity: 0.6;
  }
}

.right {
  @include centerContent;
  gap: 2.4rem;
}

.searchLink {
  @include centerContent;
  gap: 0.6rem;
  transition: var(--transition-default);

  svg {
    font-size: 2.4rem;
  }

  span {
    font-size: 1.4rem;
  }

  &:hover {
    color: var(--color-pink);
  }
}

@include mq(spc) {
  .header {
    padding: 1.2rem 0;
  }
  .mobMenu {
    display: none;
  }

  .right {
    gap: 3.6rem;
  }

  .searchLink {
    svg {
      font-size: 3rem;
    }

    span {
      font-size: 1.6rem;
    }
  }

  .logo {
    width: 16rem;
  }
}
