.star {
  font-size: 4rem;
  color: var(--color-yellow);

  .fillStar {
    display: none;
  }

  &.active {
    .fillStar {
      display: block;
    }
    .outlineStar {
      display: none;
    }
  }

  &.interactive {
    cursor: pointer;

    &:hover {
      .fillStar {
        display: block;
      }
      .outlineStar {
        display: none;
      }
    }
  }
}
