.star {
  font-size: 4rem;
  color: var(--color-yellow);
  cursor: pointer;

  .fillStar {
    display: none;
  }

  &.active,
  &:hover {
    .fillStar {
      display: block;
    }
    .outlineStar {
      display: none;
    }
  }
}
