@import '@/styles/abstracts/mixins.scss';

.container {
  width: 94%;
}

.status {
  position: absolute;
  right: 1rem;
  top: 0.6rem;
  z-index: 99;
  cursor: pointer;
}

.stars {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  @include noUserSelect;

  svg {
    color: var(--color-yellow);
    font-size: 1.8rem;
  }
}
