@import '@/styles/abstracts/mixins.scss';

.btn {
  width: 100%;
  transition: var(--transition-default);
  cursor: pointer;
  text-transform: uppercase;
  border-radius: var(--border-radius);

  &.simple,
  &.simpleOutlined {
    background-color: rgba(255, 255, 255, 0.2);
    @include centerContent;
    padding: 0.4rem 2rem;
    gap: 0.6rem;
    font-size: 1.4rem;
    border: 1px solid transparent;

    svg {
      font-size: 1.6rem;
    }

    &:hover,
    &.active {
      background-color: rgba(255, 255, 255, 0.35);
    }
  }

  &.simpleOutlined {
    border: 1px solid var(--color-white);
    background-color: rgba(255, 255, 255, 0.4);

    &:hover,
    &.active {
      background-color: var(--color-white);
      color: var(--color-black);
    }
  }

  &.outlined {
    border: 3px solid rgba(255, 255, 255, 0.3);
    padding: 0.6rem 2rem;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    opacity: 0.7;

    svg {
      font-size: 2rem;
    }

    &:hover {
      opacity: 0.7;
    }
    &.active {
      opacity: 1;

      svg {
        font-size: 2.2rem;
      }
    }
  }

  &.yellow {
    &:hover,
    &.active {
      color: var(--color-yellow);
      border-color: var(--color-yellow);
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &.green {
    &:hover,
    &.active {
      color: var(--color-green);
      border-color: var(--color-green);
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &.blue {
    &:hover,
    &.active {
      color: var(--color-blue);
      border-color: var(--color-blue);
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &.pink {
    &:hover,
    &.active {
      color: var(--color-pink);
      border-color: var(--color-pink);
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &.white {
    &:hover,
    &.active {
      color: var(--color-white);
      border-color: var(--color-white);
    }
    &:hover {
      opacity: 0.7;
    }
  }
}
